In [1]:
#multiples of 7 upto 1000
nums = [nums for nums in range(1000) if nums%7 == 0]
print(nums)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [6]:
#nums include '3' in them
nums = [nums for nums in range(1000) if '3' in str(nums)]
print(nums)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [9]:
#count the number of spaces in string

str_with_space = "that one dude"
space = [count for count in str_with_space if count == ' ']
print(len(space))

2

In [21]:
#count the no. of consonants
sentence = "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"

todo = [x for x in sentence if x not in ['a','e','i','o','u']]
print(len(todo))

61

In [24]:
#enumerate lists into sets

items = ["hi", 4, 8.99, 'apple', ('t,b','n')]
item_list = [(x,y) for (x,y) in enumerate(items)]
print(item_list)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

In [27]:
#common values
list_a = [1,2,3,5,6]
list_b = [1,3,4,6,7]
common = [a for a in list_a if a in list_b]
print(common)

[1, 3, 6]

In [30]:
sentence = 'In 1984 there were 13 instances of a protest with over 1000 people attending'
words = sentence.split(' ')
non_words = [s for s in words if not s.isalpha()]
print(non_words)

['1984', '13', '1000']

In [35]:
#odd or even
res = ['even' if s%2 == 0 else "odd" for s in range(20)]
num = [f"even {s}" if s%2 == 0 else f"odd {s}" for s in range(20)]
print(num)

['even 0', 'odd 1', 'even 2', 'odd 3', 'even 4', 'odd 5', 'even 6', 'odd 7', 'even 8', 'odd 9', 'even 10', 'odd 11', 'even 12', 'odd 13', 'even 14', 'odd 15', 'even 16', 'odd 17', 'even 18', 'odd 19']

In [39]:
#common values in 2 lists
list_a = [1, 2, 3,4,5,6,7,8,9]
list_b = [2, 7, 1, 12]

result = [(a,b) for a in list_a for b in list_b if a == b]
print(result)

[(1, 1), (2, 2), (7, 7)]

In [44]:
#even
result = [number for number in range(1,100) for digit in range(2,10) if number%digit == 0]
print(set(result))

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99}

In [43]:

result = [number for number in range(1,100) if True in [True for x in range(2,10) if number % x == 0]]
print(result)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99]

In [2]:
#square tuples
num_sq = [(x,x**2) for x in range(1,6)]
print(num_sq)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [2]:
#list comprehension
lst = [i**2 if i%2 == 0 else i**3 for i in range(1,6)]
print(lst)

[1, 4, 27, 16, 125]

In [13]:
#nested for loop comprehension

sec = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
lst_sec = [s*2 for s in sec for i in s]
print(lst_sec)

[[1, 2, 3, 4, 1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4], [5, 6, 7, 8, 5, 6, 7, 8], [5, 6, 7, 8, 5, 6, 7, 8], [5, 6, 7, 8, 5, 6, 7, 8], [5, 6, 7, 8, 5, 6, 7, 8], [9, 10, 11, 12, 9, 10, 11, 12], [9, 10, 11, 12, 9, 10, 11, 12], [9, 10, 11, 12, 9, 10, 11, 12], [9, 10, 11, 12, 9, 10, 11, 12], [13, 14, 15, 16, 13, 14, 15, 16], [13, 14, 15, 16, 13, 14, 15, 16], [13, 14, 15, 16, 13, 14, 15, 16], [13, 14, 15, 16, 13, 14, 15, 16]]

In [19]:
#paired outputs
mylist = [9, 3, 6, 1, 5, 0, 8, 2, 4, 7]
list_b = [6, 4, 6, 1, 2, 2]

res = [(i,mylist.index(i)) for i in list_b ]
print(res)

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [28]:
#dictionary comprehension
mylist = [9, 3, 6, 1, 5, 0, 8, 2, 4, 7]
list_b = [6, 4, 6, 1, 2, 2]

result = {}
res = {i:mylist.index(i) for i in list_b}
print(res)

{6: 2, 4: 8, 1: 3, 2: 7}

In [37]:
sentences = ["a new world record was set", 
             "in the holy city of ayodhya", 
             "on the eve of diwali on tuesday", 
             "with over three lakh diya or earthen lamps", 
             "lit up simultaneously on the banks of the sarayu river"]

stopwords = ['for', 'a', 'of', 'the', 'and', 'to', 'in', 'on', 'with']

results = [[word for word in sentence.split(' ') if word not in stopwords] for sentence in sentences]

print(results)

[['new', 'world', 'record', 'was', 'set'], ['holy', 'city', 'ayodhya'], ['eve', 'diwali', 'tuesday'], ['over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps'], ['lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']]

In [45]:
#display negative if num is greater than 2 and less than 8
my_list = [1,2,3,4,5,6,7,8,9,10]
res = [-i if 2 < i < 9  else i for i in my_list]
print(res)

[1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

In [47]:
alpha = {chr(i+97) : i for i in range(26)}
print(alpha)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [56]:
res = [ord(a.lower()) - 96  for a in 'Lee Quan Yew']
print(res)

[12, 5, 5, -64, 17, 21, 1, 14, -64, 25, 5, 23]